@font-face {
    font-family: headerFont;
    src: url('fonts/Redressed-Regular.ttf');
}

:root {
    
}

body {
    margin: 0;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.header {
    background-color: #292524; /* Stone 800 */
    padding: 10px 50px 10px 50px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: headerFont;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-header {
    display: flex;
    justify-content: center;
}

.book-header .add-book-btn {
    background-color: #292524; /* Stone 800 */
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    font-weight: bold;
    font-family: headerFont;
    text-align: center;
    display: inline-block;
    font-size: 32px;

    cursor: pointer;
    opacity: 0.8;
}

.book-header .add-book-btn:hover {
    opacity: 1;
}

.books {
    margin: 30px 100px 30px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    grid-template-rows: repeat(2, 350px);
    grid-auto-rows: 350px;
    gap: 30px;
}

.books .card {
    background-color: #292524;
    color: white;
    border-radius: 8px;
    border: 5px solid darkred;

}

#book-form {
    background-color: beige;
    border: 5px solid burlywood;
    border-radius: 8px;
    font-family: headerFont;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;

    width: 350px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#book-form .form-title {
    font-size: 32px;
}

#book-form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#book-form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#book-form label {
    font-size: 20px;
}

#book-form input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: 1px solid brown;
    background: #eee;
}

#book-form .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#book-form .btn-container button {
    font-family: headerFont;
    background-color: #292524;
    font-size: 20px;
    padding: 12px 20px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

#book-form .btn-container button:hover {
    opacity: 1;
}
